<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
	<title>Sommaire ${year} - Carnets Web de La Grange</title>
    <link rel="stylesheet" href="/2010/11/21/style.css" type="text/css" media="screen"/>
	<link rel="alternate" type="application/atom+xml" href="http://www.la-grange.net/feed.atom"/>
</head>

<body style="background-image:url(${imagebgyear});background-position:top right;">
<h1 class="titre">Billets de l'année ${year} / <a href="/">La Grange</a></h1>
<p><a href="/2011/">Année ${yearprev}</a>  ← <a href="/map">Archives</a> → Année ${yearnext}</p>

<section id="year-index">

<h2 id="a${year}01">Janvier</h2>
<ul>
${indexmarkup}
</ul> 
<!-- 
<h2 id="a${year}02">Février</h2>
<ul>
<li></li>
</ul> 

<h2 id="a${year}03">Mars</h2>

<ul>
<li></li>
</ul>

<h2 id="a${year}04">Avril</h2>

<ul>
<li></li>
</ul>

<h2 id="a${year}05">Mai</h2>

<ul>
<li></li>
</ul>

<h2 id="a${year}06">Juin</h2>

<ul>
<li></li>
</ul>

<h2 id="a${year}07">Juillet</h2>

<ul>
<li></li>
</ul>
<h2 id="a${year}08">Août</h2>

<ul>
<li></li>
</ul>
<h2 id="a${year}09">Septembre</h2>

<ul>
<li></li>
</ul>
<h2 id="a${year}10">Octobre</h2>

<ul>
<li></li>
</ul>
<h2 id="a${year}11">Novembre</h2>

<ul>
<li></li>
</ul>
<h2 id="a${year}12">Décembre</h2>

<ul>
<li></li>
</ul> 
-->

</section>

<footer> 
    <address id="signature">Ce texte est publié par 
        <span id="auteur"><a href="/karl/">Karl</a></span> sous un 
        <a rel="license" href="http://creativecommons.org/licenses/by/2.0/fr/">contrat Creative Commons</a>. 
        <a id="glicense" rel="license" href="http://creativecommons.org/licenses/by/2.0/fr/"><img alt="Creative Commons License" style="padding:0 1em;margin-bottom:7px;border-width:0" src="/2011/09/30/style/80x15-by" /></a>
    </address>
</footer>

</body>
</html>

